#row1 h2 {
	font-size: 25px;
	font-family: "myfont", Tahoma;
}

#viewC{
	background-image: url(/imgs/floor.jpg);
	border: 4px solid #d3d3d3;
	border-radius: 10px;
    position: relative;
	z-index: -1;
	color: #d3d3d3;
	margin: 0 10px;
}

#title{
	text-align: center;
	padding: 10px;
	font-size: 1.5em;
}

.tile{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	margin: 10px;
	border: solid 2px #d3d3d3;
	border-radius: 10px;

	background: #002400; /* Old browsers */
	background: -moz-linear-gradient(45deg, #002400 0%, #005700 21%, #008a00 60%, #52b152 87%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #002400 0%,#005700 21%,#008a00 60%,#52b152 87%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #002400 0%,#005700 21%,#008a00 60%,#52b152 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#52b152',GradientType=1 ); 
}

.tile img {
	border: 2px solid #d3d3d3;
	margin-right: 15px;
}

.tile h2 {
}

/* Phone */
@media screen and (max-width: 924px) {
	
}

/*Tablets*/
@media  screen and (min-width: 925px) {

}

/*Laptops+*/
@media screen and (min-width: 1681px) {

	#viewC {
		width: 70%;
		margin: 0 auto;
	}
	
}