* {
	font-family: "myfont", Tahoma;
}

#infoView {
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(left, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

	width: all;
	border: 4px solid #d3d3d3;
	border-radius: 10px;
	color: #d3d3d3;
	margin: 0 10px;
	margin-bottom: 50px;

}

#row1 h2, button, #search 