* {
	font-family: "myfont", Tahoma;
}

#intel {	
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 75px;
	margin-top: 50px;
	padding: 20px;
	min-height: 275px;
	text-align: justify;

	background: #45484d; 
	background: -moz-linear-gradient(left, #45484d 0%, #000000 100%);
	background: -webkit-linear-gradient(left, #45484d 0%,#000000 100%); 
	background: linear-gradient(to right, #45484d 0%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
	border: 4px solid #d3d3d3;
	border-radius: 10px;
	color: #d3d3d3;
}

#intel img {
	display: none;
	
}

#intel h1 {
	font-size: 2em;
}

#intel a {
	float: right;
}

#cInfo{
	display: flex;
	flex-direction: column;
}

#cInfo p {
	margin-top: 10px;
	margin-bottom: 10px;
}


@media screen and (min-width: 800px){
    #intel {
    	min-height: 470px;
    }

	#intel img {
		display: block;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		
		
	}
}
