#title{
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
}

#search {
	margin-bottom: 10px
}

#searchInput{
	width: 115px;
	max-height: 27.5px;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/imgs/search.png');
    background-repeat: no-repeat;
    padding: 5px 10px 5px 30px;
    margin-left: 20px;
    color: black;
}

}

#search button {
	max-height: 27.5px;
	margin-left: 20px;
}

#genItems {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 75px;
}

.tile{
	width: 90%;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 5px auto 5px auto;

	background: #002400; /* Old browsers */
	background: -moz-linear-gradient(45deg, #002400 0%, #005700 21%, #008a00 60%, #52b152 87%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #002400 0%,#005700 21%,#008a00 60%,#52b152 87%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #002400 0%,#005700 21%,#008a00 60%,#52b152 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#52b152',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border: 2.5px solid white;
	border-radius: 10px;

	
}

.tap{
	cursor: pointer;
 	position: relative;
}
.tap:active {
    top: 1px;
    left: 1px;
}

.tile a {
	font-size: 1.3em;
}

.tile h2 {
	font-size: 1.3em;
	text-align: center;
}

.tile img{
	margin-right: 10px;
	border: 2.5px white solid;
	height: 50px;
	width: 50px;
}


/*Tablets*/
@media  screen and (min-width: 725px) {
	.tile{
		width: 225px;
	}

	#search {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: baseline;
	}


}

/*Laptops+*/
@media screen and (min-width: 1081px) {
	.tile{
		width: 300px;
	}
}

