/* Fonts: */
@font-face{
	font-family: "myfont";
	src: url("/fonts/BankGothic%20Bold.ttf") format("truetype");
	font-family: Futura,"Trebuchet MS",Arial,sans-serif
}

h1, h2, h3, p, a {
	font-family: "myfont", Tahoma;
	color: #d3d3d3;
	font-size: 1.1em;
}

button {
}

/* Bootstrap Overwrite  */

/* Normal Css */
	body {
		background-image: url(/imgs/untitled1.png); 
		}

	nav {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002400+0,005700+21,008a00+60,52b152+87 */
		background: #002400; /* Old browsers */
		background: -moz-linear-gradient(45deg, #002400 0%, #005700 21%, #008a00 60%, #52b152 87%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg, #002400 0%,#005700 21%,#008a00 60%,#52b152 87%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg, #002400 0%,#005700 21%,#008a00 60%,#52b152 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#52b152',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		align-items: baseline;
		font-size: 1.3em;
		position:fixed;
		z-index: 100;
   		top:0px;
   		left:0px;
    	right:0px;
   		margin-top:0px;
	}

	nav ul li {
		padding: 10px;
		text-align: center;
		border-top: 2px solid #d3d3d3;
	}

	nav ul li:first-child {
		border-top: none;
	}

	nav ul li a:hover{
		color: #42a1f4;
	}

	a:focus, a:hover{
		color: #42a1f4;
	}

	#

	#navbar{
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 100;
	}

	#button {
		float: right;
		margin-top: 35px;
		margin-right: 15px;
   		background-color: Transparent;
		color: #d3d3d3;
    	border: none;
    	cursor:pointer;
    	outline:none;
	}

	#header{
		height: 101px;
	}

	#logopic {
		margin: 5px;
		flex: 4
	}

	#footer{
    position:fixed;
    background-color: #d3d3d3;
    bottom:0px;
    left:0px;
    right:0px;
    margin-top: 25px;
    margin-bottom:0px;
    font-family: "myfont";
    padding: 10px 0 10px 0;
    text-align: center;
    }

    .footerContent{
    	color: black;
    }


    #container{
    	margin: 155px;
    	height: 500px;
    	width: 100%;
    	font-size: 200px;
    }

    #view{
    	margin-top: 100px;
    	padding-top: 20px;
    	padding-right: 10px;
    	padding-left: 10px;
    	text-align: left; 
    }
	
/* Phone */
@media screen and (max-width: 924px) {
	
}

/*Tablets*/
@media  screen and (min-width: 925px) {
	body {
		background-image: url(/imgs/wallpaper.jpg);

	}

	nav ul{
	}

	nav ul li {
		border-top: none;
		padding-right: 10px;
	}

	#navbar{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

	}

	#myNav {
		display: flex;
		flex-direction: row;
	}

	#button {
		display: none;
	}

	#container{
		width: 30%;
		display: flex;
		float: right;
		margin-top: 20px;
		margin-right: 40px;
	}
}

/*Laptops+*/
@media screen and (min-width: 1681px) {
	body {
		background-size: cover;
	}

	#container {
		margin-top: 50px;
		margin-right: 90px;
	}

	
}