<div id="homeT">
  <h1 id="landingHeader">
		Lantern HQ		
	</h1>
	<br/>
	<p class="landingContent">
		Welcome to OA Database. 
	</p>
	<br/>
	<p class="landingContent">
		In the ever expanding 'DC' universe, it can be hard keeping track of all that lurks in the far reaches of space.
	</p>
	<br/>
	<p class="landingContent">
		Here you can find information on characters, groups and locations that appear throughout the comic book series: "Hal Jordan and the Green Lantern Corps". 
	</p>
	<br/>
	<p class="landingContent">
		To get started click on one of the links in the navigation bar! 
	</p>
</div>